{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Metronic Django{% endblock %}</title>

    <!-- CSS -->
    <link href="{% static 'metro62/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet">
    <link href="{% static 'metro62/assets/css/style.bundle.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="{% static 'metro62/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'metro62/assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'metro62/assets/plugins/custom/vis-timeline/vis-timeline.bundle.css' %}" rel="stylesheet" type="text/css" />

</head>

<body id="kt_app_body" 
data-kt-app-header-fixed="true" 
data-kt-app-header-fixed-mobile="true"
 data-kt-app-sidebar-enabled="true" 
 data-kt-app-sidebar-fixed="true" 
 data-kt-app-sidebar-push-header="true" 
 data-kt-app-sidebar-push-toolbar="true" 
 data-kt-app-sidebar-push-footer="true" 
 data-kt-app-sidebar-stacked="true" 
 data-kt-app-sidebar-secondary-enabled="true"
  data-kt-app-toolbar-enabled="true" 
  class="app-default">
    <!--begin::Theme mode setup-->



    <script>
        var defaultThemeMode = "light";
        var themeMode;
        if (document.documentElement) {
            if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
                themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
            } else if (localStorage.getItem("data-bs-theme") !== null) {
                themeMode = localStorage.getItem("data-bs-theme");
            } else {
                themeMode = defaultThemeMode;
            }
            if (themeMode === "system") {
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }
            document.documentElement.setAttribute("data-bs-theme", themeMode);
        }
    </script>

<!--end::Theme mode setup -->

<!-- ===================== BEGIN::APP =====================
<div class="d-flex flex-column flex-root app-root" id="kt_app_root"> 
<div class="app-page flex-column flex-column-fluid" id="kt_app_page">-->
<!-- ========== HEADER (TOP NAVBAR) ========== 
<div class="app-container container-fluid d-flex align-items-stretch flex-stack" id="kt_app_header_container">-->
<!-- ========== PAGE WRAPPER ========== 
<div class="app-page-entry d-flex align-items-center flex-row-fluid gap-3">-->
<!-- ========== SIDEBAR (optional) ========== 
                       
<div class="app-page-entry d-flex align-items-center flex-row-fluid gap-3">

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
<div class="d-flex flex-column flex-column-fluid">

<div id="kt_app_content" class="app-content flex-column-fluid">

<div class="app-container container-fluid">-->
<!-- ========== MAIN CONTENT AREA ========== 


-


</div>

</div>
</div>
</div>
</div>  
</div>-->
{% block content %}{% endblock %}
        </div>
    <script src="{% static 'metro62/assets/plugins/global/plugins.bundle.js' %}"></script>
    <script src="{% static 'metro62/assets/js/scripts.bundle.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
